body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-image: url("../Source/1352.jpg");
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: white;
    border-radius: 1rem;
    border: 0;
    padding: 2rem 4rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: .2rem .2rem 1rem .5rem #0000003d;
    width: 300px;
}

.cronometro {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

p, h1 {
    margin: 0 0 1rem ;
    padding: 0;
}



body div button {
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
    transition: 300ms;
}

body div button:hover {
    color: lightseagreen;
    
}

